@media only screen and (max-width: 768px) {
    h2 {
        padding-left: 15px;
    }
    
    
    /*    JUMBOTRON*/
    .jumbotron h1 {
        font-size: 5.7rem;
    }
    .jumbotron p {
        width: auto;
    }
    /*    PROJECTS*/
    .image-container {
        height: 13.5rem;
    }
}
